body {
   padding: 30px;
   height: 100vh;
   background: #282c26;

   color: rgba(240, 242, 242, 0.833);
}

input {
   width: 100px;
}
.title {
    display: flex;
    flex-direction:  row;
    justify-content:center;
    align-items: center;
    }
    
    .title h1 {
    margin-right:80px;
    
    }
.item {
   background-color: #105ad2;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 1px solid rgb(241, 241, 241);
   border-radius: 10px;
   box-sizing: border-box;
   padding: 10px 10px;
} 
.concluido{
   background-color: aqua;

}
.Lista
 {
width: 60%;
display: flex;
align-items: left;
flex-direction: column;
margin: 0 auto;
 }